version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: employee_db_container
    ports:
      - "${DB_PORT}:${DB_PORT}"  # Maps Docker port 5432 to Laptop port 5432
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persist data

volumes:
  postgres_data: